label.form {
    font-size: 12px;
    display: block;
    width: 100%;
    float: left;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: dimgray;
}

label.profile {
    font-size: 12px;
    display: block;
    width: 100%;
    float: left;
}

#fab_add {
    position: fixed;
    margin-top: 26px;
}

div.modal {
    position: fixed;
    opacity: 80%;
    background-color: white;
}

div.container {
    width: 768px;
    margin: auto;
    text-align: center;
}

div.login {
    width: 500px;
    margin-top: 120px;
}

div.registration {
    width: 500px;
    margin-top: 100px;
}

ons-input {
    border-bottom-style: solid;
    border-bottom-color: #e6e6ff;
    border-bottom-width: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
}

div.action-sheet {
    width: 300px;
    margin: auto;
}

.button, .toolbar-button {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    font-weight: bold;
    margin: 5px 2px;
}

.button--noborder {
    border-style: none;
}

.menubar-main {
    height: 44px;
    vertical-align: middle;
    display: table-cell;
    border-width: 2px;
}

.toolbar-button:hover, .button:hover {
    background-color: lightgrey;
}

@media screen and (min-width:320px) and (max-width:640px) {
    div.container {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    div.login {
        width: 100%;
        margin-top: 120px;
    }

    div.registration {
        width: 100%;
        margin-top: 90px;
    }
    
    div.action-sheet {
        width: 100%;
        margin: auto;
    }

    .menubar-main {
        display: inline-block;
        margin-top: 5px;
        height: 25px;
    }

    .toolbar-button {
        font-size: 16px;
        border-style: none;
    }

    .toolbar-button:hover, .button:hover {
        background-color: transparent;
    }

    .toolbar-button:hover {
        border-bottom-style: solid;
        border-radius: 0px;
    }

}