label.form {
    font-size: 14px;
    display: block;
    width: 250px;
    float: left;
    padding-bottom: 10px;
}

#fab_add {
    position: fixed;
    margin-bottom: 10px;
    margin-right: 14px;
}