label.form {
    font-size: 14px;
    display: block;
    width: 250px;
    float: left;
    padding-bottom: 10px;
}

#fab_add {
    position: fixed;
    margin-top: 26px;
}

ons-progress-circular {
    position: fixed;
    top: 10%;
    left: 45%;
}